@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  body {
    background-color: hsl(var(--heroui-background));
    color: hsl(var(--heroui-foreground));
  }

  *,
  ::before,
  ::after {
    border-color: var(--color-gray-300);
  }

  h1,
  h2,
  h3 {
    color: hsl(var(--heroui-primary));
  }
}